
<ion-content>
	<img id="login-logo-img" class="centered logo" data-test="login-logo-img" src="assets/img/dtim-banner.jpg">
	<div class="centered pitchbox">
		Technical Interviews For Software Engineers<br/><br/>
		Use this web app to track your progress, and determine where you need to go next.<br/>
	</div>
	<div class="centered">
		<ion-button class="wideButton" data-test="login-button" (click)="onLoginBtnTap($event)">Login</ion-button>
		<br/>--<br/>
		<ion-button class="wideButton" data-test="login-button" (click)="onAboutBtnTap($event)">About</ion-button>
	</div>
</ion-content>
