<ion-header>
	<ion-toolbar>
		<ion-title>about</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	We want to help you look at your career goals, by creating a lens that is unique to you.

	<ion-item>
		With this website, you can view the history of questions we've asked you. You can also see where else it is you need to go. With time, and as we work together, you can see where you are strong, and where you need more work. We can use that info as you code with us, to get you the experience you need. This is your key to our process. It is an input to our function, and what we output is helpful guidance, and the opportunity for you to put in some resume worthy work, with the goal of putting you in a better place to get your next job. All the while, strengthening you as a developer, improving your key, and helping us to improve as we help others to become better developers as well. There is a demand for software engineers and a glut of opportunities to learn the skills of software engineering. The problem is knowing where to go. That's what we hope to address.
	</ion-item>

	<ion-item>
Imagine a firefighter who graduated the academy, but still is not clear on hazardous materials, or the principles of fire. No doubt they could get a job, but their opportunities would be limited.

The skills matrix, and the career goal path, are two realities. They both describe things that you need to know. They are ways of seeing the whole landscape and range of possibilities that is your career in software, and we use them at Savvato to help you get to where you want to go. 

The career goal path is an ordered list of items that describe what is important to know first.

The skills matrix is a grid of (eventually) everything there is to know, all the habits one should have, broken down by skill and level of ability.

The real difference between the two, is where are you at in your career. The CGP will be more useful for those with fewer than 7 years development under their belts. The skills matrix will be more useful for advanced engineers, and developers with unique and niche interests. No mistake, though, the matrix can be very insightful for a junior engineer as well, but it lacks the guiding quality that the CGP embodies.	
	</ion-item>

	We want to see that the areas of knowledge and skill that you need to have for an employer to give you an offer, are covered.<br/>
	To do this, you can imagine a coloring book. Just as you have spaces to fill in to make a colorful picture, the skills matrix and career profile are two designed spaces that you fill in. As we fill them in we begin to see a picture that is unique to you.

</ion-content>
