<ion-header>
	<ion-toolbar>
		<ion-title>
			<img id="header-logo-img" data-test="header-logo-img" src="assets/img/dtim-banner.jpg">
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item *ngIf="!careerGoalIsSelected()">
		<ion-label>Chosen Career Goal:</ion-label>
		<ion-select placeholder="Select One" slot="start" interface="popover" [(ngModel)]="selectedCareerGoal" (ionChange)="onSelectedCareerGoalChange($event)">
			<ion-select-option *ngFor="let cg of getAllCareerGoals()" value="{{cg['id']}}">{{cg.name}}</ion-select-option>
		</ion-select>
	</ion-item>

	<lib-savvato-careerpath-component [ctrl]="getCareerPathComponentController()"></lib-savvato-careerpath-component>
</ion-content>
