
<ion-content padding>
	<img id="login-logo-img" class="centered logo" data-test="login-logo-img" src="assets/img/dtim-banner.jpg">

	<ion-item class="inputbox">
		<ion-label position="floating">Phone (only digits, no symbols) or Email</ion-label>
		<ion-input data-test="query-input" (ionChange)="onQueryChange($event)" [value]="getQuery()" required></ion-input>
	</ion-item>

	<div class="centered buttonbox">
		<ion-button class="" [disabled]="!isSearchBtnEnabled()" (click)="onSearchBtnClicked()">Find Me</ion-button>
		<br/>--<br/>
		<ion-button class="" (click)="onCancelBtnClicked()">Cancel</ion-button>
	</div>
</ion-content>

