<ion-header>
	<ion-toolbar>
		<ion-title>
			<img id="header-logo-img" data-test="header-logo-img" src="assets/img/dtim-banner.jpg">
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<ion-card-content>
			<div>
				Name: {{getUsername()}}<br/>
				Email: {{getEmail()}}<br/>
				Phone: {{getPhone()}}<br/>
			</div>
		</ion-card-content>
	</ion-card>
	<h3>Attendance and Score History</h3>
	<ion-card *ngFor="let item of getAttendanceHistoryItems()">
		<ion-card-content>
			<div>
				{{getSessionString(item)}}
			</div>
			<div *ngFor="let question of getQuestions(item)">
				<table>
					<tr>
						<td>
							{{question.questionText}}<br/><br/>
							Your score: {{question.grade}}
						</td>
					</tr>
				</table>
			</div>
		</ion-card-content>
	</ion-card>

</ion-content>
