<ion-header>
	<ion-toolbar>
		<ion-title>
			<img id="home-logo-img" data-test="home-logo-img" src="assets/img/dtim-banner.jpg">
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<!-- <img id="login-logo-img" data-test="login-logo-img" src="assets/img/dtim-banner.jpg"> -->
	<ion-item>Welcome, {{ getUserName() }}.</ion-item>

	<ion-card>
		<ion-item>You can view your question history, as it relates to <br/><br/>
		</ion-item>

		<div class="btnIcon">
			<ion-icon data-test="show-your-profile-button" (click)="onShowCareerPathBtnTap($event)" slot="start" name="compass"></ion-icon>
			<span>Your Career Path</span>
		</div>

		<div class="btnIcon">
			<ion-icon data-test="show-your-profile-button" (click)="onShowSkillsMatrixBtnTap($event)" slot="start" name="grid"></ion-icon>
			<span>Your Skills Matrix</span>
		</div>

		<br/>
		<div class="btnIcon settingsBtn">
			<ion-icon data-test="show-your-profile-button" (click)="onEditUserInfoBtnTap($event)" slot="start" name="settings"></ion-icon>
			<span>Edit Your Info</span>
		</div>
	</ion-card>

</ion-content>

