.btnIcon {
	font-size: 60px;
	float: left;
	margin-top: 0.5em;	
	margin-right: 1.25em;
	margin-left: 0.75em;
}

.btnIcon ion-icon {
	display: block;
}

.btnIcon span {
	font-size: 18px;
}

.settingsBtn {
	clear: left;
}